body {
    font-family: sans-serif;
    margin-top:0px !important;
    padding-top:0px !important;
}

.card-title {
    font-size: 1.5rem;
    display: inline-block;
}

.product-description {
    font-size: 1rem;
    line-height: 1.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
}

.btn {
    padding: 0.75rem 1.25rem;
}

.product-card {
    max-width: 700px;
    width: 100%;
    padding-top: 20px;
    background-color: #F1EAFF;
}

    .product-card .card-img-top {
        height: 250px;
        object-fit: contain;
    }
.btn {
    padding: 0.75rem 1.25rem;
}
/*===============================*/
.container_form {
    width:500px;
    /*max-width: 1000px;*/
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: 0.5rem;
}

form {
    background-color: #f5f5f5;
   /* padding: 20px;*/
    padding-top:0px;
    border-radius: 0.5rem;
}
.close {
    color:#b90000;
    z-index: 9999; 
}
